<ion-header>
  <ion-toolbar>
    <ion-title>Edicion Equipo</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <form [formGroup]="form" (ngSubmit)="enviar()" novalidate>
    <ion-item>
      <ion-label position="floating">Nombre del Equipo</ion-label>
      <ion-input formControlName="nombre_equipo" type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Liga</ion-label>
      <ion-select formControlName="liga"  value="{{this.data['Liga']}}">
        <ion-select-option *ngFor="let liga of lista_liga" [value]="liga['Identificador']">{{liga['Nombre De La Liga']}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Logo del Equipo</ion-label>
      <ion-button (click)="visualizarImagen()" color="primary" size="small">Visualizar</ion-button>
    </ion-item>
    <ion-item *ngIf="ruta_imagen">
      <img [src]="ruta_imagen" alt="Logo del equipo"/>
    </ion-item>
    <!-- <ion-item>
      <ion-label position="floating">Logo del Equipo</ion-label>
      <input type="file" (change)="onPhotoSelected($event)" accept="image/*" #photoInput hidden />
      <img id="imagen" [src]="photoSelected || data['Logo del Equipo']" alt="no profile image"
        (click)="photoInput.click()" />
    </ion-item> -->
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block" [disabled]="!form.valid" >Guardar</ion-button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>