<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="liga">
      <ion-icon name="bookmark-outline"></ion-icon>
      <ion-label>Ligas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="equipo">
      <ion-icon name="bookmarks-outline"></ion-icon>
      <ion-label>Equipos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="jugador">
      <ion-icon name="body-outline"></ion-icon>
      <ion-label>Jugadores</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>